<a href="https://colab.research.google.com/github/sriyadd/International-Debt-Analysis-World-Bank/blob/main/IDS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

!pip install chardet

Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl.metadata (3.4 kB)
Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.4/199.4 kB 3.3 MB/s eta 0:00:00
Installing collected packages: chardet
Successfully installed chardet-5.2.0

In [ ]:
import pandas as pd
# Attempt to read the CSV with different encodings, starting with common ones like ISO-8859-1 and then try utf-16
try:
    df_orig = pd.read_csv('/content/IDS_ALLCountries_Data.csv', encoding='ISO-8859-1')
    print("Successfully read with ISO-8859-1 encoding")
except UnicodeDecodeError:
    try:
        df_orig = pd.read_csv('/content/IDS_ALLCountries_Data.csv', encoding='latin1')
        print("Successfully read with latin1 encoding")
    except UnicodeDecodeError:
       try:
            df_orig = pd.read_csv('/content/IDS_ALLCountries_Data.csv', encoding='utf-16')
            print("Successfully read with utf-16 encoding")
       except UnicodeDecodeError:
            # If none of the above encodings work, try auto-detect using chardet
            import chardet
            with open('/content/IDS_ALLCountries_Data.csv', 'rb') as f:
                result = chardet.detect(f.read())  # Detect encoding of the file
            encoding = result['encoding']
            print(f"Detected encoding: {encoding}")
            df_orig = pd.read_csv('/content/IDS_ALLCountries_Data.csv', encoding=encoding)
            print("Successfully read with auto-detected encoding")

# Display the first few rows of the dataframe
print(df_orig.head(30))

Successfully read with ISO-8859-1 encoding
   Country Name Country Code Counterpart-Area Name Counterpart-Area Code  \
0   Afghanistan          AFG                 World                   WLD
1   Afghanistan          AFG                 World                   WLD
2   Afghanistan          AFG                 World                   WLD
3   Afghanistan          AFG                 World                   WLD
4   Afghanistan          AFG                 World                   WLD
5   Afghanistan          AFG                 World                   WLD
6   Afghanistan          AFG                 World                   WLD
7   Afghanistan          AFG                 World                   WLD
8   Afghanistan          AFG                 World                   WLD
9   Afghanistan          AFG                 World                   WLD
10  Afghanistan          AFG                 World                   WLD
11  Afghanistan          AFG                 World                   WLD
12  Afghanistan          AFG                 World                   WLD
13  Afghanistan          AFG                 World                   WLD
14  Afghanistan          AFG                 World                   WLD
15  Afghanistan          AFG                 World                   WLD
16  Afghanistan          AFG                 World                   WLD
17  Afghanistan          AFG                 World                   WLD
18  Afghanistan          AFG                 World                   WLD
19  Afghanistan          AFG                 World                   WLD
20  Afghanistan          AFG                 World                   WLD
21  Afghanistan          AFG                 World                   WLD
22  Afghanistan          AFG                 World                   WLD
23  Afghanistan          AFG                 World                   WLD
24  Afghanistan          AFG                 World                   WLD
25  Afghanistan          AFG                 World                   WLD
26  Afghanistan          AFG                 World                   WLD
27  Afghanistan          AFG                 World                   WLD
28  Afghanistan          AFG                 World                   WLD
29  Afghanistan          AFG                 World                   WLD

                                          Series Name        Series Code  \
0   Average grace period on new external debt comm...        DT.GPA.DPPG
1   Average grace period on new external debt comm...        DT.GPA.OFFT
2   Average grace period on new external debt comm...        DT.GPA.PRVT
3   Average grant element on new external debt com...        DT.GRE.DPPG
4   Average grant element on new external debt com...        DT.GRE.OFFT
5   Average grant element on new external debt com...        DT.GRE.PRVT
6   Average interest on new external debt commitme...        DT.INR.DPPG
7   Average interest on new external debt commitme...        DT.INR.OFFT
8   Average interest on new external debt commitme...        DT.INR.PRVT
9   Average maturity on new external debt commitme...        DT.MAT.DPPG
10  Average maturity on new external debt commitme...        DT.MAT.OFFT
11  Average maturity on new external debt commitme...        DT.MAT.PRVT
12                   CB, bilateral (AMT, current US$)  DT.AMT.BLAT.CB.CD
13                   CB, bilateral (DIS, current US$)  DT.DIS.BLAT.CB.CD
14                   CB, bilateral (DOD, current US$)  DT.DOD.BLAT.CB.CD
15                   CB, bilateral (INT, current US$)  DT.INT.BLAT.CB.CD
16                   CB, bilateral (NFL, current US$)  DT.NFL.BLAT.CB.CD
17                   CB, bilateral (NTR, current US$)  DT.NTR.BLAT.CB.CD
18                   CB, bilateral (TDS, current US$)  DT.TDS.BLAT.CB.CD
19      CB, bilateral concessional (AMT, current US$)  DT.AMT.BLTC.CB.CD
20      CB, bilateral concessional (DIS, current US$)  DT.DIS.BLTC.CB.CD
21      CB, bilateral concessional (DOD, current US$)  DT.DOD.BLTC.CB.CD
22      CB, bilateral concessional (INT, current US$)  DT.INT.BLTC.CB.CD
23      CB, bilateral concessional (NFL, current US$)  DT.NFL.BLTC.CB.CD
24      CB, bilateral concessional (NTR, current US$)  DT.NTR.BLTC.CB.CD
25      CB, bilateral concessional (TDS, current US$)  DT.TDS.BLTC.CB.CD
26                       CB, bonds (AMT, current US$)  DT.AMT.PBND.CB.CD
27                       CB, bonds (DIS, current US$)  DT.DIS.PBND.CB.CD
28                       CB, bonds (DOD, current US$)  DT.DOD.PBND.CB.CD
29                       CB, bonds (INT, current US$)  DT.INT.PBND.CB.CD

    1970  1971  1972  1973  ...  2022  2023  2024  2025  2026  2027  2028  \
0    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
2    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
3    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
4    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
5    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
6    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
7    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
10   NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN
12   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
26   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
27   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
28   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN
29   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN

    2029  2030  2031
0    NaN   NaN   NaN
1    NaN   NaN   NaN
2    NaN   NaN   NaN
3    NaN   NaN   NaN
4    NaN   NaN   NaN
5    NaN   NaN   NaN
6    NaN   NaN   NaN
7    NaN   NaN   NaN
8    NaN   NaN   NaN
9    NaN   NaN   NaN
10   NaN   NaN   NaN
11   NaN   NaN   NaN
12   NaN   NaN   NaN
13   NaN   NaN   NaN
14   NaN   NaN   NaN
15   NaN   NaN   NaN
16   NaN   NaN   NaN
17   NaN   NaN   NaN
18   NaN   NaN   NaN
19   NaN   NaN   NaN
20   NaN   NaN   NaN
21   NaN   NaN   NaN
22   NaN   NaN   NaN
23   NaN   NaN   NaN
24   NaN   NaN   NaN
25   NaN   NaN   NaN
26   NaN   NaN   NaN
27   NaN   NaN   NaN
28   NaN   NaN   NaN
29   NaN   NaN   NaN

[30 rows x 68 columns]

In [ ]:
# Create a copy of the DataFrame
df = df_orig.copy()

print(df.head())

  Country Name Country Code Counterpart-Area Name Counterpart-Area Code  \
0  Afghanistan          AFG                 World                   WLD
1  Afghanistan          AFG                 World                   WLD
2  Afghanistan          AFG                 World                   WLD
3  Afghanistan          AFG                 World                   WLD
4  Afghanistan          AFG                 World                   WLD

                                         Series Name  Series Code  1970  1971  \
0  Average grace period on new external debt comm...  DT.GPA.DPPG   NaN   NaN
1  Average grace period on new external debt comm...  DT.GPA.OFFT   NaN   NaN
2  Average grace period on new external debt comm...  DT.GPA.PRVT   NaN   NaN
3  Average grant element on new external debt com...  DT.GRE.DPPG   NaN   NaN
4  Average grant element on new external debt com...  DT.GRE.OFFT   NaN   NaN

   1972  1973  ...  2022  2023  2024  2025  2026  2027  2028  2029  2030  2031
0   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  ...   0.0   0.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 68 columns]

# Exploring and Cleaning Data

In [ ]:
#display data info
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76918 entries, 0 to 76920
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           76918 non-null  object
 1   Country Code           76916 non-null  object
 2   Counterpart-Area Name  76916 non-null  object
 3   Counterpart-Area Code  76916 non-null  object
 4   Series Name            76916 non-null  object
 5   Series Code            76916 non-null  object
 6   2019                   50280 non-null  float64
 7   2020                   50684 non-null  float64
 8   2021                   50503 non-null  float64
 9   2022                   50412 non-null  float64
 10  2023                   50389 non-null  float64
 11  2024                   12967 non-null  float64
dtypes: float64(6), object(6)
memory usage: 7.6+ MB

In [ ]:
# Print all the columns in the data
print(df.columns)

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '2019', '2020',
       '2021', '2022', '2023', '2024'],
      dtype='object')

In [ ]:
# Dropping unneccesary columns
columns_to_drop = ['1970','1971','1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018','2025','2026', '2027', '2028', '2029', '2030', '2031']
df = df.drop(columns=columns_to_drop)

In [ ]:
# Print all the columns in the data
print(df.columns)

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '2019', '2020',
       '2021', '2022', '2023', '2024'],
      dtype='object')

In [ ]:
# Check for missing values
print(df.isnull().sum())

Country Name                 0
Country Code                 2
Counterpart-Area Name        2
Counterpart-Area Code        2
Series Name                  2
Series Code                  2
2019                     26638
2020                     26234
2021                     26415
2022                     26506
2023                     26529
2024                     63951
dtype: int64

In [ ]:
# Print missing values for Country Name
print(df[df['Country Name'].isnull()])

Empty DataFrame
Columns: [Country Name, Country Code, Counterpart-Area Name, Counterpart-Area Code, Series Name, Series Code, 2019, 2020, 2021, 2022, 2023, 2024]
Index: []

In [ ]:
# Identify empty rows
empty_rows = df[df.isnull().all(axis=1)]
print(empty_rows)

Empty DataFrame
Columns: [Country Name, Country Code, Counterpart-Area Name, Counterpart-Area Code, Series Name, Series Code, 2019, 2020, 2021, 2022, 2023, 2024]
Index: []

In [ ]:
# Remove empty rows
df = df.dropna(how='all')

In [ ]:
# Check for missing values
print(df.isnull().sum())

Country Name                 0
Country Code                 2
Counterpart-Area Name        2
Counterpart-Area Code        2
Series Name                  2
Series Code                  2
2019                     26638
2020                     26234
2021                     26415
2022                     26506
2023                     26529
2024                     63951
dtype: int64